body{
    margin: 0;
    display: flex;
    font-family: cursive;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: orangered;
}

.container{
    background-color: lightskyblue;
    margin: 5px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px black;
    overflow: hidden;
}

.textarea{
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    resize: none;
    padding: 10px;
    font-size: 16px;
    font-family: SansSerif;
    border: solid 2px 8px black;
    border-radius: 5px;
}

.counter-container{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.counter-container p{
    font-size: 18px;
    color: black;
}




